@page "/"

<PageTitle>Index</PageTitle>

<head>
    <style>
        body {

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <h3 style="color:black ;">A Cyber awearness Website</h3>
    <h6 style="color:darkblue;">
        There are many reasons why cyber awareness is important. In today’s world, we rely heavily on technology and the internet. We use it for work, communication, entertainment, and many other things. Because we use it so much, we are also more vulnerable to cyber attacks.

        Cyber attacks can happen to anyone, and they can have a serious impact. They can result in the loss of data, money, and even your identity. Cyber criminals are constantly finding new ways to exploit people and businesses, so it’s important to be aware of the risks and take steps to protect yourself.

        Some simple things you can do to stay safe online include using strong passwords, being careful about what you click on, and only downloading software from trusted sources. Cyber awareness is important for everyone, so make sure you stay informed and take steps to protect yourself.
    </h6>
</body>


